PORT=3000
NODE_ENV=development
APP_NAME=chefsito-backend
DATABASE_URL=
REDIS_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
CORS_ORIGINS=http://localhost:5173

# Set to true to enable Redis query caching
CACHE_ENABLED=false
